@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Satisfy&display=swap');

body{
    background-color: crimson;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
}
h1, h2, p {
    color: white;
    text-align: center;
}
p {
  color: white;
}
#my-image {
  width: 150px;
  border-radius: 50%;
  
}
#my-name{
  font-family: 'Satisfy', cursive;
}