@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Satisfy&display=swap');

/* CSS reset */
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
    background-color: #9ED5C5;
    font-family: 'Permanent Marker', cursive;
    color: #000000;
  }

  html, body{
    height: 100vh;
    position: relative;
    width: 100%;
  }

#my-image {
  width: 180px;
  border-radius: 50%;
}
#content{
  text-align: center;
}
h1{
  color: #CF0A0A;
  text-align: center;
}

#my-name{
  font-family: 'Satisfy', cursive; 
}

#left-side {
 display: flex;
 flex-direction: row;
 column-gap: 16px;
}

#right-side {
  /* position: absolute;
  top: 16px;
  right: 16px; */
}

a{
  color: black;
  text-decoration: none;

}
footer{
  position: absolute;
  bottom: 0;
  width: 100vw;  /* vw - viewport width */
  padding: 16px;
}

footer > section {
  /* position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%); */
  display: flex;
  justify-content: space-between;
}

footer a:first-child {
 margin-right: 16px;
}

#content div {
  width: 100vw; /*viewport width */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
}
 
/* Projects page */

#hero-banner{
 background:  linear-gradient(45deg, Yellow, orange,  red, orange, yellow, orange)

}

#hero-banner > div{
  width: 100vw;
  display: flex;
  column-gap: 16px;
  padding: 16px;
}

@media (min-width: 426px) and (max-width: 768px) {
  #hero-banner > div {
  width: 50%;
  margin: 0 auto;
  }
}
#hero-banner h1 
#hero-banner h2{
 color: white;
}
#hero-banner h1{
  font-size: 2rem; /* 1rem -- 16px */
}
#hero-banner h2{
  font-size: 0.8rem;
}
#hero-banner > div > div {
  display: inline-block;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 16px;
}
h3{
  text-align: center;
  font-size: 32px;
}
