@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Satisfy&display=swap');

/* CSS reset */
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
    background-color: #9ED5C5;
    font-family: 'Permanent Marker', cursive;
    color: #000000;
  }

  html, body{
    height: 100vh;
    position: relative;
    width: 100%;
  }

#my-image {
  width: 180px;
  border-radius: 50%;
}
#content{
  text-align: center;
}
h1{
  color: #CF0A0A;
}

#my-name{
  font-family: 'Satisfy', cursive; 
}

#left-side {
 position: absolute;
 top: 16px;
 left: 16px;
}
#left-side > a{
 margin-left: 16px;
}

#right-side {
  position: absolute;
  top: 16px;
  right: 16px;
}

a{
  color: #5c2e7e;
  text-decoration: none;
  border-bottom: 1px dotted #5c2e7e;
}

footer {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%);
}

footer a:first-child {
 margin-right: 16px;
}

#content div {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
